<div class="col-md-6">
    <div class="card border-0">
        <img
        class="card-img-top img-fluid mx-auto"
        src="{{image_url}}"
        alt=""
        style="height: 200px; width: 50px;"
        />
        <div class="card-body">
            <h5 class="card-title"><a style='text-decoration: none;' href="beers/{{id}}">{{name}}</a></h5>
            <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>